{% extends 'base.html.twig' %}

{% block header %}
    <nav>
        <a href="{{ path('portfolio_about_edit', {'id': portfolio.id}) }}">À propos</a>
        <a href="{{ path('portfolio_projects_edit', {'id': portfolio.id}) }}">Projets</a>
        {# <a href="{{ path('portfolio_experiences_edit', {'id': portfolio.id}) }}">Experience</a> #}
    </nav>
{% endblock %}

{% block title %}New About{% endblock %}

{% block body %}
    <h1>Create new About</h1>

    {{ include('about/_form.html.twig') }}

    <a href="{{ path('app_about_index') }}">back to list</a>
{% endblock %}
