{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <div>
        <div>{{ about.firstname }} {{ about.lastname }}</div>
        <div>{{ about.dateOfBirth|date('d/m/Y') }}</div>
        <div>{{ about.email }}</div>
        <div>{{ about.address }}</div>
    </div>

    <div>
        {% for about_custom_section in about_custom_sections %}
            <div>{{ about_custom_section.title }}</div>
            <div>{{ about_custom_section.description }}</div>
        {% endfor %}
    </div>
{% endblock %}
