{% extends 'base.html.twig' %}

{% block title %}ProfileSection{% endblock %}

{% block body %}
    <h1>ProfileSection</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ profile_section.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ profile_section.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ profile_section.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_profile_section_index') }}">back to list</a>

    <a href="{{ path('app_profile_section_edit', {'id': profile_section.id}) }}">edit</a>

    {{ include('profile_section/_delete_form.html.twig') }}
{% endblock %}
