{% extends 'base.html.twig' %}

{% block header %}
    <nav>
        <a href="{{ path('portfolio_about_edit', {'id': portfolio.id}) }}">À propos</a>
        <a href="{{ path('portfolio_projects_edit', {'id': portfolio.id}) }}">Projets</a>
        {# <a href="{{ path('portfolio_experiences_edit', {'id': portfolio.id}) }}">Experience</a> #}
    </nav>
{% endblock %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>About</h1>

    {{ form_start(newAboutForm) }}
        {{ form_widget(newAboutForm) }}
        <button type="submit">Save About</button>
    {{ form_end(newAboutForm) }}

    <h2>About Custom Section</h2>

    {{ form_start(newAboutCustomSectionForm) }}
        {{ form_widget(newAboutCustomSectionForm) }}
        <button type="submit">Add About custom section</button>
    {{ form_end(newAboutCustomSectionForm) }}

    <h2>Existing Custom Section</h2>
    {% for aboutCustomSection in aboutCustomSections %}
        <div>
            <h3>{{ aboutCustomSection.title }}</h3>
            {{ form_start(editAboutCustomSectionForms[aboutCustomSection.id]) }}
                {{ form_widget(editAboutCustomSectionForms[aboutCustomSection.id]) }}
                <button type="submit">Save About custom section</button>
            {{ form_end(editAboutCustomSectionForms[aboutCustomSection.id]) }}
        </div>
    {% endfor %}

    <a href="{{ path('app_about_index') }}">back to list</a>
{% endblock %}
