{% extends 'base.html.twig' %}

{% block javascripts %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('styles/index.css') }}">
{% endblock %}

{% block header %}
    
{% endblock %}


{% block body %}
    <div class="container">

        <div class="content-container">
        {% if app.user is not null %}
            <h2>Vos portfolio(s) :</h2>
            <div class="portfolios-container">
                {% for portfolio in portfolios %}
                    {% if portfolio.owner.id == app.user.id %}
                        <a href="{{ path('portfolio_about_edit', {'id': portfolio.id}) }}" class="portfolio-container">
                            <div class="logo-container">{{ portfolio.about.firstname|slice(0, 1) }} {{ portfolio.about.lastname|slice(0, 1) }}</div>
                            <p>{{ portfolio.about.firstname }} {{ portfolio.about.lastname }}</p>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
            <h2>Visiter des Portfolio :</h2>
            <div class="portfolios-container">
                {% for portfolio in portfolios %}
                    {% if app.user.id is not defined or portfolio.owner.id != app.user.id %}
                    <div class="portfolio-container">
                        <a href="{{ path('app_portfolio_show', {'id': portfolio.id}) }}" class="portfolio-content-container">
                            <div class="logo-container">{{ portfolio.about.firstname|slice(0, 1) }} {{ portfolio.about.lastname|slice(0, 1) }}</div>
                            <p>{{ portfolio.about.firstname }} {{ portfolio.about.lastname }}</p>
                        </a>
                        {% if app.user.roles is defined and app.user.roles[1] == "ROLE_ADMIN" %}
                            <a href="{{ path('portfolio_about_edit', {'id': portfolio.id}) }}" class="edit-icon">
                                <i class="fa-solid fa-pen"></i>
                            </a>
                        {% endif %}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="footer-container">
            {% if app.user is not null %}
                <a href="{{ path('app_portfolio_new') }}" class="btn">Créer un nouveau portfolio</a>
                <a href="{{ path('app_logout') }}" class="btn">Se déconnecter</a>
            {% else %}
                <a href="{{ path('app_login') }}" class="btn">
                    <h2>Se connecter</h2>
                </a>
                <a href="{{ path('app_register') }}" class="btn">
                    <h2>S'inscrire</h2>
                </a>
            {% endif %}
        </div>

    </div>
{% endblock %}
