{% macro section_card(title, question, route) %}
    <a href={{ path(route) }} class="section-card">
        <h2>{{ title }}</h2>
        <h3>{{ question }}</h3>
    </a>
{% endmacro %}

{% macro info_card(title, content) %}
    <h2>{{ title }}</h2>
    <p>{{ content }}</p>
{% endmacro %}

{% macro illustrated_card(title, content, path) %}
    <h2>{{ title }}</h2>
    <div>
        <img src="{{ path }}" alt="">
        <p>{{ content }}</p>
    </div>
{% endmacro %}