{% extends 'base.html.twig' %}

{% block title %}AboutCustomSection index{% endblock %}

{% block body %}
    <h1>AboutCustomSection index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for about_custom_section in about_custom_sections %}
            <tr>
                <td>{{ about_custom_section.id }}</td>
                <td>{{ about_custom_section.title }}</td>
                <td>{{ about_custom_section.description }}</td>
                <td>
                    <a href="{{ path('app_about_custom_section_show', {'id': about_custom_section.id}) }}">show</a>
                    <a href="{{ path('app_about_custom_section_edit', {'id': about_custom_section.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_about_custom_section_new') }}">Create new</a>
{% endblock %}
