<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Nicolas's Portfolio{% endblock %}</title>
        <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
        <link rel="stylesheet" href="{{ asset('styles/common/reset.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/common/text.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/common/variable.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/common/button.css') }}">
        {% block stylesheet %}
            
        {% endblock %}
    </head>
    <body>
    {% block header %}
        {% if  portfolio is defined and portfolio.id is not null %}
            <nav>
                    <a href="{{ path('app_index') }}">Home</a>
                    <a href="{{ path('app_portfolio_show', {'id': portfolio.id}) }}">Accueil</a>
                    <a href="{{ path('app_portfolio_about_show', {'id': portfolio.id}) }}">À propos</a>
                    <a href="{{ path('app_portfolio_project_show', {'id': portfolio.id}) }}">Projets</a>
                    <a href="{{ path('app_portfolio_experience_show', {'id': portfolio.id}) }}">Experience</a>
            </nav>
        {% endif %}
    {% endblock %}

        <main>            
            {% block body %}

            {% endblock %}
        </main>
    </body>
</html>