{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block content %}
    <h1>Projects</h1>

    <a href="{{ path('project_create') }}">Create a new project</a>

    <ul>
        {% for project in projects %}
            <li>
                <h2>{{ project.title }}</h2>
                <p>{{ project.description }}</p>
                <a href="{{ path('project_edit', {'id': project.id}) }}">Edit</a>
                <form action="{{ path('project_delete', {'id': project.id}) }}" method="POST">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
