{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    {% for project in projects %}
        <div>
            <div>{{ project.title }}</div>
            <div>{{ project.description }}</div>
            <div>{{ project.technologies }}</div>
            <div>{{ project.duration }}</div>
            <div>{{ project.completedAt|date('d/m/Y') }}</div>
        </div>
    {% endfor %}
{% endblock %}
